---
---

{% if site.logo %}
$logo: "{{ site.logo | relative_url }}";
{% endif %}
@import "./support/support";
@import "./custom/setup";

@import "./color_schemes/light";
@import "./modules";
{% include css/callouts.scss.liquid color_scheme = "light" %}

html[data-theme="dark"] {
@import "./color_schemes/dark";
@import "./modules-nocharset";
{% include css/callouts.scss.liquid color_scheme = "dark" %}
}

// fix for search using class in html tag
html[data-theme="dark"].search-active {
  .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .search-input-wrap {
    height: $sp-10;
    border-radius: 0;

    @include mq(md) {
      width: $search-results-width;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    }
  }

  .search-input {
    background-color: $grey-dk-250;

    @include mq(md) {
      padding-left: 2.3rem;
    }
  }

  .search-label {
    @include mq(md) {
      padding-left: 0.6rem;
    }
  }

  .search-results {
    display: block;
  }

  .search-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease $transition-duration, width 0s, height 0s;
  }

  @include mq(md) {
    .main {
      position: fixed;
      right: 0;
      left: 0;
    }
  }

  .main-header {
    padding-top: $sp-10;

    @include mq(md) {
      padding-top: 0;
    }
  }
}

{% include css/custom.scss.liquid %}
