name: Docker Images Build
on:
  workflow_dispatch:
jobs:
  build-images:
    name: Build ${{ matrix.system }} docker image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        system:
          - x86_64-linux
          - x86_64-windows
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: docker-build-v2/${{ matrix.system }}
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/recoil-build-${{ matrix.system }}:latest
